.group {
  margin-left: 12px;
  display: flex;
  align-items: center;
  width: 55px;
  justify-content: flex-start;
  position: relative;


}

span {
  &[data-parent=true] {
    width: 21%;
    height: 89%;
    border-right: 1px solid #C6C6C6;
    position: absolute;
    top: 83%;
    left: 0;
  }

  &[data-child=true] {
    width: 25%;
    height: 125%;
    border-left: 1px solid #C6C6C6;
    border-bottom: 1px solid #C6C6C6;
    position: absolute;
    top: -78%;
    left: -9px;
  }

  &[data-sister=true] {
    width: 25%;
    height: 125%;
    border-left: 1px solid #C6C6C6;
    position: absolute;
    top: 47%;
    left: -9px;
  }

  &[data-stream=true] {
    width: 25%;
    height: 60px;
    border-left: 1px solid #C6C6C6;
    position: absolute;
    top: -19px;
    left: 0;
  }
}

.active {
  background: var(--border-color);
  border-radius: 6px;

  svg:nth-of-type(2) {
    margin-left: 7px;
  }
}