.table {
  display: flex;
  flex-direction: column;
}

.header {
  width: max-content;
  min-height: 43px;
  padding: 10px 15px 10px;
  font-size: 18px;
  border-right: 1px solid var(--border-color);
}

.layout {
  background: var(--dark-background);
  flex-grow: 1;
}

.grid {
  display: grid;
  grid-template-columns: var(--grid-column);
  min-height: 42px;
  list-style: none;
  padding: 11px 9px 0 10px;
  border-top: 1px solid var(--border-color)
}

.title {
  padding: 0 12px 12px;
  line-height: 130%;
  color: var(--grey-color);
  letter-spacing: 0.1px;
  font-feature-settings: 'clig' off, 'liga' off;
}

